<div class="parent">
    <div class="div1"> 
            <p>EcoEcoName</p>
            <p>EcoEcoTitle</p>
            <img class="main" src="/assets/images/mainprofi.png" alt="mainprofi">
    </div>
    <div class="div2">
        <h4>Punkty: 268</h4> 
        <h4>Ranking: 1.</h4> 
    </div>
    <div class="div3"><p>Data:15/11/2019</p><p>Nazwa:</p><p>Opis:</p>
        <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"
        frameWidth="60" frameHeight="40"></p-galleria>
     </div>
    <div class="div4"><h3>O mnie</h3></div>
    <div class="div5"> </div>
    <div class="div6">
    <p></p> </div>
    </div> 
