<header>
    <span (click)="home()"><img class="recycle"  src="/assets/images/recycle.png" alt="bin" ></span>
        
         <nav>
       <p>LOGIN</p>
             </nav>
       </header>
       <section >
           <h2 class="title">BLOGOSFERA</h2>
           <article class="examples">
                <span><a href="https://www.ograniczamsie.com/"></a></span>
                <img class="img" src="/assets/images/ogarniam.PNG" alt="ogarniam">
                <span><a href="https://www.green-projects.pl/"></a></span>
                    <img class="img" src="/assets/images/green.PNG" alt="green">
           </article>
       </section>
       <section>
           <h2 class="title">YOUTUBE</h2>
            <article class="examples">
                <span><a href="https://youtube.com/channel/UCkq2gEWE-i647M71bh7zDxA"></a></span>
                <img class="img" src="/assets/images/vegan.PNG" alt="vegan">
                

            </article>
        </section>
        <section>
            <h2 class="title">FACEBOOK</h2>
                <article class="examples">
                        <span><a href="https://www.facebook.com/wastelesspl/"></a></span>
                        <img class="img" src="/assets/images/less.PNG" alt="less">
                </article>
            </section>
       
       
       <footer>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-youtube"></i>
        </footer>
